:root {
	--button-color: #fff;
	--button-color-hover: #fff;
	--button-color-focus: #fff;
	--button-color-active: #fff;

	--button-background: #0f7e96;
	--button-background-hover: #024f60;
	--button-background-focus: #024f60;
	--button-background-active: #024f60;

}

.button {
	min-width: 137px;
	min-height: 38px;
	border: 0;
	color: var(--button-color);
	background-color: var(--button-background);
	text-decoration: var(--button-text-decoration);
    display: inline-flex;
    cursor: var(--button-cursor);
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    margin-bottom: 30px;
    box-sizing: border-box;
    user-select: var(--button-user-select);
}
.button:hover span {
	color: var(--button-color);
	text-decoration: var(--button-text-decoration);
}
.button:hover {
	background-color: var(--button-background);
	color: var(--button-color);
	text-decoration: var(--button-text-decoration);
}
.button:active {
	background-color: var(--button-background-active);
	color: var(--button-color);
	text-decoration: var(--button-text-decoration);
}